@media (max-width: 414px) {
    .video {
        width: 100%;
        max-width: 100%;
        height: 250px;
    }
}

@media (max-width: 1024px) {
    .conteiner {
        flex-direction: column;
        width: 100%;
        display: block;
    }

    .conteiner a {
        display: block;
        margin: 10px 0;
    }

    .logo {
        display: block;
        margin: 0 auto;
    }

    .box-footer {
        flex-direction: column;
        align-items: center;
        margin: 0;
        text-align: center;
    }

    .video {
        width: 100%;
        max-width: 100%;
        height: 250px;
    }

    video {
        width: 100%;
        height: auto;
    }

    .sites div img {
        height: 50px;
        width: 50px;
        margin-left: 0;
    }

    .box, .box-logo {
        padding-right: 15%;
    }

    .conteiner2 img {
        max-width: 100%;
        height: auto;
    }

    .prime {
        max-width: 100%;
        padding: 0;
    }

    .duna img {
        max-width: 100%;
        height: auto;
    }

    .circulos img {
        max-width: 100%;
        padding: 5px;
        margin: 0;
    }

    .box-filme div img {
        max-width: 100%;
        padding: 5px;
        margin: 0;
    }
}

@media (max-width: 375px) {
    .conteiner a {
        margin: 5px 0;
    }

    .box-logo {
        padding-right: 10%;
    }

    .conteiner2 img {
        max-width: 100%;
    }

    .prime {
        padding: 0;
    }

    .video {
        width: 100%;
        height: 200px;
    }

    video {
        width: 100%;
        height: auto;
    }

    .sites div img {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .circulos span {
        height: 120px;
        width: 120px;
    }

    .circulos span img {
        object-fit: cover;
    }

    .box-filme div img {
        width: 100%;
    }

    .prime img {
        width: 100%;
    }
}